<div class="header d-flex justify-content-center">
  <h1>Top Selling</h1>
</div>
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide class="car" *ngFor="let num of images">
        <div class="d-flex m-3">
		<div class="card m-2" style="width: 18rem;" >
            <img class="card-img-top" src="{{num}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click</a>
            </div>
          </div>
          <div class="card  m-2" style="width: 18rem;" >
            <img class="card-img-top" src="{{num}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card  m-2" style="width: 18rem;" >
            <img class="card-img-top" src="{{num}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card  m-2" style="width: 18rem;" >
            <img class="card-img-top" src="{{num}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card  m-2" style="width: 18rem;" >
            <img class="card-img-top" src="{{num}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
	</ng-template>
    
	
</ngb-carousel>